@import-normalize; /* bring in normalize.css styles */
@import url('https://fonts.googleapis.com/css2?family=Asap&family=Roboto:ital,wght@0,500;0,900;1,500&display=swap');
body {
  margin: 0;
  padding: 25vh 25vw;
  color: #ffffff;
  background-color: #222;
  font-family: 'Asap', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgba(0, 255, 255, 0.5),
    0px 4px 8px rgba(0, 255, 255, 0.5), 0px 4px 8px rgba(0, 255, 255, 0.5),
    0px 8px 16px rgba(0, 255, 255, 0.5);
}

h2 {
  font-size: 36px;
}

p {
  font-size: 20px;
}
